<p id="notice"><%= notice %></p>

<p>
  <strong>企業名:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>事業詳細:</strong>
  <%= @company.detail %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @company.tel %>
</p>

<p>
  <strong>従業員数:</strong>
  <%= @company.employee_number %>
</p>

<%= link_to '編集', edit_company_path(@company) %> |
<%= link_to '戻る', companies_path %>
